/runs
/old
/results

/wandb/
wandb_api_key.txt
*.pyc
.ipynb_checkpoints

src/tasks/layout/models/
src/tasks/layout/__pycache__/
src/tasks/layout/LA-training/

src/tasks/line/models/
src/tasks/line/__pycache__/
src/tasks/line/LS-training/

src/tasks/htr/models/
src/tasks/htr/__pycache__/
src/tasks/htr/HTR-training/

src/tasks/__pycache__/
src/utils/__pycache__/
src/__pycache__/
