run_name: "churro_htr_htromance"
output_dir: "results"
device: "cuda"
use_wandb: true
wandb_project: "HTR-comparison" 


data:
  test: "../data/HTRomance-french/data/test"

tasks:
  htr:
    type: VLMHTR
    config:
      model_name: 'stanford-oval/churro-3B'
      max_new_tokens: 700
      temperature: 0.7            
      top_p: 0.8                 
      repetition_penalty: 1.5            
      batch_size: 10
      prompt: > 
        You are a paleographer specializing in french medieval languages
        Follow these instructions:

        1. You will be provided with a scanned document page.

        2. Perform transcription on the main text from this image, line by line, from top to bottom.

        3. If you encounter any non-text elements, simply skip them without attempting to describe them.

        4. Do not modernize or standardize the text. 
        For example, if the transcription is using "ſ" instead of "s" or "а" instead of "a", keep it that way.

        5. When you come across text in languages other than English, transcribe it as accurately as possible without translation.

        6. Do not include any other words or separator in your response.

        Remember, your goal is to accurately transcribe the text from the scanned page as much as possible. 
        Process the entire page, even if it contains a large amount of text, and provide clear, well-formatted output. 
        Pay attention to the appropriate reading order and layout of the text.
