run_name: "churro_htr_htromance"
output_dir: "results"
device: "cuda"
use_wandb: true
wandb_project: "HTR-comparison" 


data:
  train: "../data/HTRomance-french/data/train"
  valid: "../data/HTRomance-french/data/valid"
  test: "../data/HTRomance-french/data/test"

tasks:
  htr:
    type: VLMHTR
    config:
      model_name: 'stanford-oval/churro-3B'
      max_new_tokens: 2000       
      batch_size: 10
      use_4bit: true
      lora_r: 8
      lora_dropout: 0
      max_seq_length: 4096
      train_batch_size: 4
      gradient_accumulation_steps: 1
      warmup_ratio: 0.1
      epochs: 5
      learning_rate: 0.0001
      weight_decay: 0.01
      dataset_num_proc: 4
      prompt: > 
        You are a paleographer specializing in medieval languages.
        Follow these instructions:

        1. You will be provided with a scanned document page.

        2. Perform transcription on the text from this image, line by line, from top to bottom.
        If the page has multiple columns, you must translate the columns one after the other.

        3. If you encounter any non-text elements, simply skip them without attempting to describe them.

        4. Do not translate, modernize or standardize the text. 
        For example, if the transcription is using "ſ" instead of "s" or "а" instead of "a", keep it that way.

        5. Do not include any other words or separator in your response.

        Remember, your goal is to accurately transcribe the text from the scanned page as much as possible. 
        Process the entire page, even if it contains a large amount of text, and provide clear, well-formatted output. 
        Pay attention to the appropriate reading order and layout of the text.
