run_name: "qwen2.5_vl_3B_htromance"
output_dir: "results"
device: "cuda"
use_wandb: true
wandb_project: "HTR-comparison" 

data:
  train: "../data/HTRomance-french/data/train"
  valid: "../data/HTRomance-french/data/valid"
  test: "../data/HTRomance-french/data/test"

tasks:
  htr:
    type: VLMHTR
    config:
      model_name: "Qwen/Qwen2.5-VL-3B-Instruct"
      max_new_tokens: 512    
      batch_size: 10
      use_4bit: false
      lora_r: 16
      lora_dropout: 0
      max_seq_length: 4096
      train_batch_size: 4
      gradient_accumulation_steps: 2
      warmup_ratio: 0.1
      epochs: 3
      learning_rate: 0.0002
      weight_decay: 0.01
      dataset_num_proc: 1
      prompt: > 
        You are a paleographer specializing in medieval languages like Middle and Old French, 
        Middle Dutch, Catalan, Spanish, Navarese, Italian, Venitian, Old English, Latin. 
        Transcribe ALL the main text from this image, line by line, from top to bottom.
        Use exactly ONE line break between each line of text.
        Do not include any other words or separator in your response.
        Do not add text that are in the margins, like the page number.
        